.menu-icon {
  color: var(--dark-grayish-blue);
}

.main-logo {
  font-size: 2rem;
  color: var(--very-dark-blue);
}

.cart-icon {
  color: var(--grayish-blue);
  transition: all 400ms;
}

.cart-icon:hover {
  color: var(--dark-grayish-blue);
}

.profile-picture {
  border: 2px solid transparent;
  transition: all 400ms;
}

.profile-picture:hover {
  border: 2px solid var(--orange);
}

nav.visible-nav > div {
  height: 102%;
  color: var(--dark-grayish-blue);
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  border-bottom: 5px solid transparent;
  transition: all 400ms;
}

nav.visible-nav > div:hover {
  cursor: pointer;
  color: var(--very-dark-blue);
  border-bottom: 5px solid var(--orange);
}

.x-icon {
  color: var(--dark-grayish-blue);
}

@keyframes showup {
  0% {
    width: 0;
  }
  100% {
    width: 15rem;
  }
}

@keyframes showupslow {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes showupxslow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dark-cover {
  background-color: var(--black);
  z-index: 70;
  animation-name: showupslow;
  animation-duration: 600ms;
}

.hidden-nav__content {
  animation-name: showupxslow;
  animation-duration: 600ms;
}

.hidden-nav {
  background-color: var(--white);
  z-index: 70;
  animation-name: showup;
  animation-duration: 600ms;
}
nav.hidden-nav__content > div {
  font-weight: bold;
  color: var(--very-dark-blue);
  padding-left: 5px;
}

.main-logo,
.visible-nav > div,
.show-cart-details,
.right-area {
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.quantity-badge-content {
  font-size: 10px;
}

.show-cart-details {
  width: 20rem;
  height: 15rem;
  background: var(--white);
  box-shadow: 0 0.75rem 1.75rem 0.25rem rgba(0, 0, 0, 0.2);
  animation-name: showupxslow;
  animation-duration: 400ms;
}

.empty-msg {
  color: var(--dark-grayish-blue);
}

@media only screen and (max-width: 640px) {
  .quantity-badge {
    background-color: var(--orange);
    right: 3.5rem;
    top: 0.9rem;
    padding: 0 0.475rem;
  }

  .show-cart-details {
    z-index: 60;
    top: 9%;
    right: 2%;
    width: 96%;
    height: 32%;
  }
}

@media only screen and (min-width: 641px) {
  .quantity-badge {
    background-color: var(--orange);
    right: 3.5rem;
    top: 0.9rem;
    padding: 0 0.475rem;
  }

  .show-cart-details {
    z-index: 60;
    top: 6.5%;
    right: 7.5%;
  }
}

@media only screen and (min-width: 768px) {
  .show-cart-details {
    right: 8%;
    top: 6.5%;
  }
}

@media only screen and (min-width: 1024px) {
  .quantity-badge {
    background-color: var(--orange);
    right: 5.5rem;
    top: 1.95rem;
    padding: 0 0.475rem;
  }
  .show-cart-details {
    right: 8.5%;
    top: 9.5%;
  }
}
