.company-name {
  color: var(--orange);
}

.product-name {
  color: var(--very-dark-blue);
}
.product-desc {
  color: var(--dark-grayish-blue);
}

.off-percent {
  color: var(--orange);
  background-color: var(--light-orange);
}

.products,
.prices,
.quantity-container,
.add-to-cart,
.hidden-thumbnail-preview {
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.thumbnails {
  transition: all 400ms;
}

.off-percent__content {
  color: var(--orange);
}

.off-price {
  color: var(--grayish-blue);
  text-decoration: line-through;
}

.plus-icon,
.minus-icon {
  color: var(--orange);
}

.add-to-cart {
  background-color: var(--orange);
  color: var(--white);
  box-shadow: 0 10px 10px 5px var(--light-orange);
  transition: all 400ms;
}

.add-to-cart:hover {
  opacity: 0.75;
}

.next-icon-container,
.previous-icon-container {
  top: 45.5%;
}

.current-thumbnail-content {
  opacity: 0.2;
}

.current-thumbnail-container {
  border: 2px solid var(--orange);
}

.dark-cover {
  background-color: var(--black);
  opacity: 0.75;
}

#product-dark-preview {
  width: 29rem;
  height: 29rem;
}

.x-icon-preview {
  top: -2.5rem;
  right: -0.25rem;
  color: var(--light-grayish-blue);
}

.next-icon-container-popup,
.previous-icon-container-popup {
  top: 36%;
}

.next-icon-container-popup {
  right: -1.5rem;
}

.previous-icon-container-popup {
  left: -1.5rem;
}

@media screen and (max-width: 640px) {
  #product-dark-preview {
    width: 20rem;
    height: 20rem;
  }
}
