.company-name {
  color: var(--orange);
}

.product-name {
  color: var(--very-dark-blue);
}
.product-desc {
  color: var(--dark-grayish-blue);
}

.off-percent {
  color: var(--orange);
  background-color: var(--light-orange);
}

.thumbnails > img {
  transition: all 400ms;
}

.off-percent__content {
  color: var(--orange);
}

.off-price {
  color: var(--grayish-blue);
  text-decoration: line-through;
}

.plus-icon,
.minus-icon {
  color: var(--orange);
}

.add-to-cart {
  background-color: var(--orange);
  color: var(--white);
  box-shadow: 0 10px 10px 5px var(--light-orange);
  transition: all 400ms;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.add-to-cart:hover {
  opacity: 0.75;
}

.next-icon-container,
.previous-icon-container {
  top: 45.5%;
}
